.recipe-grid-shaped {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
}

div.recipe-grid-shaped > div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  background: #8b8b8b;
  box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
    inset -2px -2px 0px #ffffff;
}
